*{
    background-color: #f3f3f3;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 500px;
    height: 500px;
    gap: 2px;
    margin: 0 auto;
    padding: 150px;
}

.grid-square{
    background-color: lightgray;
    flex: 1 1 calc(6.25% - 2px);
    text-align: center;
    box-sizing: border-box;
}

.grid-square:hover{
    background-color: black;
    
}

.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -730px ;
}

#grid_btn{
    border-radius: 5px;
    border: 1.5px solid black;
    text-align: center;
    width: 200px;
    height: 50px;
    font-family: Iosevka;
}
